#right-side {
    padding: 60px;
}

#page-header {
    display: none;
}

.mantine-Input-input {
    background: var(--surfaces-bg-card) !important;
    border-color: var(--bs-border-color) !important;
}

.mantine-Paper-root {
    border-radius: 0;
    background: var(--bs-body-bg);
    border-color: var(--bs-border-color);
}

.mantine-Accordion-item {
    background: var(--left-side-bg) !important;
}

#chat-input {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08),
                0 2px 4px rgba(0, 0, 0, 0.04),
                0 1px 2px rgba(0, 0, 0, 0.02) !important;
}

#send-button {
    transition: all 0.2s ease !important;
}

#send-button:hover {
    background-color: rgba(0, 182, 237, 0.1) !important;
    transform: scale(1.1);
}

.mantine-Badge-root {
    background: var(--left-side-bg) !important;
    border-color: var(--bs-border-color) !important;
}
